body{
    background-color: burlywood;
    height: 100vh; /* altura total da janela */
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
}
.caixaPrincipal{
    background-color: brown;
    width: 100%;
    height: 50%;
    display: flex;

}



.caixaEsquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 50%;
    height: 100%;
}

.caixaDireita {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    height: 100%;
}

