html, body {
    height: 100%;

}


body{
    /*background-image: url('casa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;   
    */
    background: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%; /* ou outro valor, para não ocupar toda a tela */
}
.caixaPrincipal{
    display: flex;
    justify-content: space-between; /* coloca esquerda e direita nas extremidades */
    width: 100%;
    padding: 10%;
}

.caixaDireita{
    background-color: white;
}


.caixaEsquerda {
    background-color: wheat;
}

@media only screen and (max-width: 600px) {
    body {
        justify-content: flex-start; /* não centra horizontalmente */
        align-items: flex-start;     /* não centra verticalmente */
    }
    .caixaPrincipal{
        flex-direction: column;
        width: 90%;  
        
    }

    .caixaEsquerda{
        margin-bottom: 5%;
    }
    
}


